@charset "UTF-8";
footer{
	background-color:#47CEE3;
}
#header{
	background-color:red;
}
.main{
	background-color:green;
	padding:50px;
	border:30px;
	margin:30px;
	flex:3;
}
.recursos{
	flex:3;
	padding:30px;
	background-color:cyan;
}
.container{
	display:flex;
	flex-direction:row;
	width:100%;
}