<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Brotons Matias</title>
</head>
<body>
<header>
<h1>Que es JAVA?</h1>
<p>Fuentes</p>
<nav>
	<ol>
		<li><a href= "https://virtual.unju.edu.ar/course/view.php?id=2540&section=1#tabs-tree-start" target="_blanck">1ra Semana</a></li>
		<li><a href= "https://virtual.unju.edu.ar/course/view.php?id=2540&section=2#tabs-tree-start" target="_blanck">2da Semana</a></li>
		<li><a href= "https://virtual.unju.edu.ar/course/view.php?id=2540&section=3#tabs-tree-start" target="_blanck">3ra Semana</a></li>
	</ol>
</nav>

</header>

<main>
	<section>
		<h2>Java</h2>
			<p>Es una tecnología que incluye un lenguaje de programación y una plataforma de desarrollo.</p>
			<p>Una plataforma es el ambiente hardware o software sobre el cual se puede
				ejecutar un programa. La mayoría de las plataformas actuales se pueden describir como una
				combinación de un sistema operativo y su hardware subyacente; por ejemplo, un pc con su
				sistema operativo Windowsse denomina comúnmente plataforma Windows, una notebook con
				una distribución Linux se denomina plataforma Linux y un celular con Android se conoce como
				plataforma Android.</p>
			<p>La plataforma Java difiere respecto de las plataformas mencionadas en el párrafo anterior
				debido a que es una plataforma software que se ejecuta sobre las prestaciones que brinda otra
				plataforma que gestiona el hardware (denominada plataforma base)</p>
	</section>
	
	<section>
		<h3>Curiosidades de Java</h3>
		<ol>
			<li>La mascota de Java: Java tiene una mascota oficial conocida como "Duke".
				Duke es un pingüino de peluche que se ha convertido en un símbolo reconocible para la comunidad de desarrolladores de Java.</li>
			<li>Origen del nombre "Java": Como mencioné anteriormente, el nombre "Java" fue elegido después de que la primera elección, "Oak", no estuviera disponible.
				El nombre Java se inspiró en el café Java, que era popular entre los desarrolladores de Sun Microsystems en ese momento. </li>
			<li>Los primeros programas ejecutados en Java: El primer programa ejecutado en Java fue un applet llamado "Hello World".
				Este applet simplemente mostraba el texto "Hello World" en un navegador web, y se convirtió en un ejercicio común para que los desarrolladores aprendieran los conceptos básicos de Java y la programación orientada a objetos.
			</li>
		</ol>
	</section>
	
	<section>
		<h4>Metodos de Java</h4>
			<table border="1">
			<tr>
				<th>charAt()</th>
				<th>Equals</th>
				<th>compareTo()</th>
			</tr>
	
			<tr>
				<td>Para obtener el carácter
					situado en una posición
					determinada de una cadena
					de caracteres, se debe utilizar
					el método charAt()</td>
				<td>Las cadenas de caracteres son
					de tipo objeto. Hay que utilizar
					los métodos de la clase
					String para efectuar
					comparaciones de cadenas de
					caracteres.</td>
				<td>Permite realizar una
					clasificación entre cadenas.</td>
			</tr>
			</table>
	</section>
	<aside>
	<a href=https://www.java.com/es> <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Java_Black_icon.svg"
	alt="Logo de java" title="Aprende mas de Java"> </a>
	</aside>
</main>

<footer>
<p>Informacion de contacto</p>
<a href= "https://www.instagram.com/matias_brotons/">Instagram</a>
</footer>

</body>
</html>